.eventDetails {
    width: 400px;
    background-color: #3e3e3e;
    padding-left: 10px;
    border-radius: 5px;
    display: inline-block;
    border-width: 0;
}

.eventPhotoContainer {
    float: left;
    width: 100px;
    background-color: #df6cff;
    margin-top: 50px;
    height: 100px;
    text-align: center;
}

.eventPhoto {
    width: 100px;
    height: 100px;
}
