.CreateEvents{
    background-color: black;
    border-radius: 20px;
    border: 10px solid #B14EFF;
    align-items: end;
    padding: 0px;
    width: 1000px;
    margin-left: 300px;
    margin-top: 50px;
}
.EventTitle{
    color: #B14EFF;
    display: inline-block;
    background-color: black;
    font-family: Arial;
    font-size: 90px;
    text-shadow: 4px 4px #622194;
    margin: 0px;
}
.EventDetails{
    background-color: white;
    border-color: #B14EFF;
    border-radius: 12px;
    border-width: 4px;
    display: inline-block;
    padding: 8px;
    font-family: monospace;
    font-size: 24px;
    margin-left: 8px;
}
.EventBox{
    accent-color: #B14EFF;
    border-color: #B14EFF;
    width: 50px;
    height: 50px;
}
.EventText{
    display: inline-block;
    color: #B14EFF;
    font-family: Arial;
    font-size: 36px;
    background-color: black;
    margin: 8px;
}
.OnMeText{
    display: inline-block;
    color: #B14EFF;
    font-family: Arial;
    font-size: 30px;
    background-color: black;
    margin: 8px;
}
.OnMeRadio{
    display: inline-block;
    margin: 0px;
    width: 5%;
    height: 2em;
}
.EventButton{
    background-color: #290f3c;
    border-color: #b35df5;
    border-width: 4px;
    border-radius: 12px;
    color: white;
    font-size: 50px;
    margin: 30px;
    cursor: pointer;
}
.Column{
    column-count: 2;
}